{{- if .Values.teslamateApi.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: teslamateapi
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "teslamate.api.selectorLabels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "teslamate.api.selectorLabels" . | nindent 4 }}
{{- end }}
