apiVersion: v1
kind: Service
metadata:
  name: teslamate
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "teslamate.app.selectorLabels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
      name: http
  selector:
    {{- include "teslamate.app.selectorLabels" . | nindent 4 }}
